<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  			<typeAlias type="com.hclass.project1.member.MemberDTO" alias="MemberDTO"/>
  			<typeAlias type="com.hclass.project1.member.memberfile.MemberFileDTO" alias="MemberFileDTO"/>
  			<typeAlias type="com.hclass.project1.qna.QnaDTO" alias="QnaDTO"/>
  			<typeAlias type="com.hclass.project1.notice.NoticeDTO" alias="NoticeDTO"/>
  			<typeAlias type="java.lang.Long" alias="Long"/>
  			<typeAlias type="com.hclass.project1.notice.NoticeDTO" alias="NoticeDTO"/>
  			<!-- Trainer -->
  			<typeAlias type="com.hclass.project1.util.Pager" alias="Pager"/>
  			
  			<typeAlias type="com.hclass.project1.trainer.TrainerDTO" alias="TrainerDTO"/>
  			<!-- Pay -->
  			<typeAlias type="com.hclass.project1.pay.PayDTO" alias="PayDTO"/>
  	</typeAliases>
  </configuration>