<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.hclass.project1.member.memberfile.MemberFileDAO" >
 		<insert id="setFileOne" parameterType="MemberFileDTO">
 				insert into trainerFile values(#{num},#{id},#{fileName},#{oriName})
 		</insert>
	
    </mapper>