<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.hclass.project1.member.MemberDAO">
    <delete id="memberDelete" parameterType="MemberDTO">
    	delete member where id=#{id}
    </delete>
    <update id ="memberUpdate" parameterType="MemberDTO">
    	update member set pw = #{pw}, phone = #{phone}, address=#{address}, gym=#{gym} where id=#{id};
    </update>
    <insert id ="setOne" parameterType="com.hclass.project1.member.MemberDTO">
    	insert into member values(member_seq.nextval,#{name},#{id},#{pw},#{phone},#{email},#{gender},#{age},#{address},#{gym},#{business},#{trainer})
	</insert>
	<select id="getOne" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member where id=#{id}
	</select>
	<select id="getEmail" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member where email=#{email}
	</select>
	<select id="getPhone" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member where phone=#{phone}
	</select>
	<select id = "memberLogin" resultType="MemberDTO" parameterType="MemberDTO">
			select * from member where id=#{id} and pw=#{pw}
	</select>
    </mapper>