<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hclass.project1.pay.PayDAO">
	<!-- 예약하기 -->
	<insert id="setCharge" parameterType="PayDTO">
		insert into pay_test1 values(pay_test_seq.nextval, #{id}, #{regDate}, #{time}, #{name}, #{healthKind},#{business})
	</insert>
	<!-- 이건뭐지 -->
	<select id="getPaymentList" resultType="PayDTO" parameterType="PayDTO">
		select * from pay_test1
	</select>
	
	<!-- 나의 정보 확인 -->
	<select id="getPaymentMyInfo" resultType="PayDTO" parameterType="MemberDTO">
		select * from pay_test1 where id = #{id}
	</select>
	<!-- 예약 중복 확인 -->
	<select id="getMemberIdCheck" resultType="PayDTO" parameterType="MemberDTO">
		select id from pay_test1 where id = #{id} 
	</select>
	<!-- 예약 취소 -->
	<delete id="setPaymentDelete" parameterType="PayDTO">
		delete pay_test1 where id = #{id}
	</delete>
	<!-- 예약 변경 -->
	<update id="setPaymentUpdate" parameterType="PayDTO">
		update pay_test1 set regDate = #{regDate}, time = #{time} where id = #{id}
	</update>

	<!-- 삭제 시 비밀번호 체크 -->
	<select id="getMemberPwCheck" resultType="MemberDTO" parameterType="MemberDTO">
		select id, pw from member where id = #{id} and pw = #{pw}
	</select>
	
	<!-- ㅣ현재 날짜, 시간 ㅣ 기준 지난 데이터 삭제 -->
	<delete id="setPastDelete" parameterType="PayDTO">
		delete from pay_test1
		where regDate = to_char(sysdate, 'YYYY-MM-DD') and
		time <![CDATA[<=]]> to_char(sysdate+9/24, 'HH24:MI')
	</delete>

</mapper>