<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.hclass.porject1.qna.QnaDAO" >
    
    <select id ="getNum" resultType="QnaDTO" parameterType="QnaDTO">
    	select * from qna where title=#{title} and contents=#{contents} and writer=#{writer}
    </select>
    <select id="getOne" resultType="QnaDTO" parameterType="QnaDTO">
    	select * from qna where num=#{num}
    </select>
 		<insert id="setOne" parameterType="QnaDTO">
 		<selectKey 	keyProperty="num" resultType="Long" order="BEFORE">
 			select qna_seq.nextval from dual
 		</selectKey>
 			insert into qna values(#{num},sysdate,#{title},#{writer},#{contents},qna_seq.currval,0,0,0)
 		</insert>
 		
 		<select id="getList" parameterType="Pager" resultType="QnaDTO">
		select * from
		(select rownum R, N.* from 
		(select * from qna where 
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			
			<when test="kind == 'wr'">
				writer
			</when>
			
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'||#{search}||'%' order by ref desc, step asc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from qna
		where 
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			<when test="kind == 'wr'">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%' || #{search} || '%'
	
	</select>
	<update id="setUpdate" parameterType="QnaDTO">
		update qna set title = #{title}, contents =#{contents} where num=#{num}
	</update>
	<delete id="setDelete" parameterType="QnaDTO">
		delete qna where num =#{num}
	</delete>
    <insert id ="setReply" parameterType="QnaDTO">
		insert into qna values(qna_seq.nextval
		, sysdate,#{title},#{writer}, #{contents},
		(select ref from qna where num =#{num}),
		(select step+1 from qna where num =#{num}),
		(select depth+1 from qna where num =#{num}),
		0
		)
	</insert>
    </mapper>