<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hclass.project1.trainer.TrainerDAO">

	<resultMap type="MemberDTO" id="getTrainerResult">
		<id column="num" property="num"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="gender" property="gender"/>
		<result column="age" property="age"/>
		<result column="gym" property="gym"/>
		<result column="kind" property="kind"/>
		<result column="address" property="address"/>
		<result column="business" property="business"/>	
		<result column="trainer" property="trainer"/>	
		<association property="memberFileDTO" javaType="MemberFileDTO" resultMap="memberFileResult"></association>
	</resultMap>
	
	<resultMap type="MemberFileDTO" id="memberFileResult">
		<id column = "num" property="num"></id>
		<result column="id" property="id"/>
		<result column="filename" property="filename"/>
		<result column="oriname" property="oriname"/>
	</resultMap>
	
	<select id="getTrainerPage" parameterType="TrainerDTO" resultType="TrainerDTO">
		select M.name, M.address, TF.filename
		from Member M inner join trainerfile TF
		on (M.id = TF.id)
		where M.name=#{name}
	</select>

	<select id="getSearchList" resultType="TrainerDTO" parameterType="Pager">
		select * from
		(select rownum R, N.* from
		(select * from member where 
		<choose>
			<when test="select=='nm'">
				name
			</when>
			<otherwise>
				address
			</otherwise>
		</choose> 
		like '%'||#{search}||'%' order by num desc)N)
		where R between #{startRow} and #{lastRow} 
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from member where
		<choose>
			<when test="select=='nm'">
				name
			</when>
			<otherwise>
				address
			</otherwise>
		</choose>
		like '%'||#{search}||'%'
	</select>
	
	<select id="getDetailCount" resultType="Long" parameterType="Pager">
		select count(num) from member where
		<choose>
			<when test="gender=='man'">
				gender like #{gender}||'%'
			</when>
			<when test="gender=='woman'">
				gender like #{gender}||'%'
			</when>
			<when test="gender=='all'">
				gender is not null
			</when>
			<when test="gender==null">
				gender is not null
			</when>
		</choose>
		and
		<choose>
			<when test="kind=='health'">
				kind like #{kind}||'%'
			</when>
			<when test="kind=='pilates'">
			 	kind like #{kind}||'%'
			</when>
			<when test="kind=='yoga'">
				kind like #{kind}||'%'
			</when>
			<when test="kind=='spinning'">
				kind like #{kind}||'%'
			</when>
			<when test="kind=='crossfit'">
				kind like #{kind}||'%'
			</when>
			<when test="kind==null">
				kind is not null
			</when>
		</choose>
		and
		<choose>
			<when test="business=='healthplace'">
				business like #{business}||'%'
			</when>
			<when test="business=='home'">
				business like #{business}||'%'
			</when>
			<when test="business==null">
				business is not null
			</when>
		</choose>
	</select>
	
	<select id="getSearch" resultType="TrainerDTO" parameterType="Pager">
		select * from
		(select rownum R, N.* from
		(select * from member where
		<choose>
			<when test="gender=='man'">
				gender in #{gender}
			</when>
			<when test="gender=='woman'">
				gender in #{gender}
			</when>
			<when test="gender=='all'">
				gender is not null
			</when>
			<when test="gender==null">
				gender is not null
			</when>
		</choose>
		and
		<choose>
			<when test="kind=='health'">
				kind in #{kind}
			</when>
			<when test="kind=='pilates'">
			 	kind in #{kind}
			</when>
			<when test="kind=='yoga'">
				kind in #{kind}
			</when>
			<when test="kind=='spinning'">
				kind in #{kind}
			</when>
			<when test="kind=='crossfit'">
				kind in #{kind}
			</when>
			<when test="kind==null">
				kind is not null
			</when>
		</choose>
		and
		<choose>
			<when test="business=='healthplace'">
				business in #{business}
			</when>
			<when test="business=='home'">
				business in #{business}
			</when>
			<when test="business==null">
				business is not null
			</when>
		</choose>
		order by num desc)N)
		where R between #{startRow} and #{lastRow}
	</select>
</mapper>